@charset "utf-8";

h1, h2, footer p {
    text-align: center;
}

main {
    margin: auto;
    width: 600px;
}

article {
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    
}

.urlap {
    text-align: center;
}

li {
    list-style-type: none;
}

table, tr ,th ,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
/*tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}*/